interface {{ComponentName}}Config {
  // Add your component-specific configuration here
  // Example: TRIGGER_ON_MOUNT: boolean;
}

const {{ComponentName}}: {{ComponentName}}Config = {
  // Add default values here
  // Example: TRIGGER_ON_MOUNT: false,
};

export const environment = {
  {{ComponentName}},
};
