export interface {{ComponentName}}Config {
  // Add your component-specific configuration here
  // Example: TRIGGER_ON_MOUNT: boolean;
}

export const {{ComponentName}}_environment: {{ComponentName}}Config = {
  // Add default values here
  // Example: TRIGGER_ON_MOUNT: false,
};
